main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  header {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    figure {
      width: 80%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    .card_input {
      width: calc(33% - 6px);

      &.top {
        &:nth-child(1) {
          width: calc(68% - 10px);
        }

        &:nth-child(2) {
          width: 32%;
        }
      }
    }

    &#characterTraits {
      display: flex;
      flex-direction: column;

      .card_input {
        width: 80px;

        label {
          padding-left: 0px;
          text-align: center !important;
        }
        input {
          text-align: center !important;
        }
      }
    }
  }
}
